<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poeta Muerto @DateTime.Now.Year</title>
    <link rel="shortcut icon" href="~/Content/img/logo.svg"/>
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/misestilos.css" rel="stylesheet" />
</head>
<body>
    <nav id="navMenu">
        <div class="nav-wrapper">
            <a class="brand-logo" style="font-family: serif;"><i>Poeta Muerto</i> </a>
            <a href="#" data-target="menu-side" class="sidenav-trigger">
                <i class="fas fa-list"></i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="~/Poema/Index">Poemas</a></li>
                <li><a href="~/PoemaPopular/Index">Poemas pupulares</a></li>
                <li><a href="~/PoetaMuerto/Index">Acerca de mi</a></li>
                <li><a href="~/PayPal/Index">Apoyar</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="contenidoSidevar">
        <ul id="menu-side" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="~/Content/img/logo.svg" />
                    </div>
                    <a href="#">
                        <img src="~/Content/img/autor.jpg" class="circle" alt="autor" />
                    </a>
                    <a href="#">
                        <span class="name white-text">Josue Cardona</span>
                    </a>
                    <a href="#">
                        <span class="email white-text">josuecardona07@hotmail.com</span>
                    </a>
                </div>
            </li>
            <li><a class="item-menu white-text" href="~/Poema/Index">Poemas</a></li>
            <li><div class="divider"></div></li>
            <li><a class="item-menu white-text" href="~/PoemaPopular/Index">Poemas populares</a></li>
            <li><div class="divider"></div></li>
            <li><a class="item-menu white-text" href="~/PoetaMuerto/Index">Acerca de mi</a></li>
            <li><div class="divider"></div></li>
            <li><a class="item-menu white-text" href="~/PayPal/Index">Apoyar</a></li>
        </ul>
    </div>


    <div class="row">
        <div id="contenedor-carga">
            <div id="div-carga"></div>
        </div>
        @RenderBody()
    </div>
    <div style="display:none">
        @*@Html.ActionLink("boton", "pagarConPaypal", "Poema", new { area = "" }, new { @id="botonPagarPaypal" })*@
        <form method="post" action="~/Poema/pagarConPaypal">
            <input type="text" name="dinero" id="dinero" value="0.23"/>
            <button type="submit" id="botonPagarPaypal"></button>
        </form>
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Content/materialize/js/materialize.min.js"></script>
    <script src="~/Scripts/efectos.js"></script>
    <span id="ir-arriba"><i class="fas fa-arrow-up"></i></span>
</body>
</html>