
@{
    ViewBag.Title = "Index";
}
<style>
    .card {
        box-shadow: 2px 2px 5px #999 !important;
        border:5px;
    }
</style>
<h5>Poemas de un Poeta Muerto</h5>
<div id="poemas" class="row">

</div>
<script>
    window.onload = function () {
        llamarPoemas();
    }
    function llamarPoemas() {
        $.get('/poema/poemas', function (data) {
            var html = '';
            $.each(data, function (key, item) {
                html+='<div class="col s12 m6 l4">'
                html +='<div class="card">'
                html += '<div class="card-image">'
                html += '<img src="' + item.Imagen + '">'
                html +='<span class="card-title">'+item.Titulo+'</span>'
                html +='</div>'
                html += ' <div class="card-content">'
                html += '<p>' + item.Verso + '</p>'
                html +='</div>'
                html +='<div class="card-action">'
                html +='<a class="waves-effect waves-light btn" href="#"><i class="fas fa-thumbs-up"></i> Me gusta</a>'
                html +='</div>'
                html +='</div>'
                html +='</div>'
            })
            document.getElementById('poemas').innerHTML = html;
        });
    }
</script>
