
@{
    ViewBag.Title = "Index";
}

<center> <h3 style="font-family:serif"><i>Poemas populares</i></h3></center>
<div id="poemas" class="row">
</div>
<script src="~/Scripts/poemaspopulares.js"></script>