
/*fondo de la pantalla*/
body{
    background-color:#bdc3c7;
   /* background-image:url(img/logo.svg);
    background-repeat:no-repeat;
    background-position:top;*/
}
/*sidevar*/
.sidenav {
    background-color: #2c3e50;
}
.card {
    box-shadow: 2px 2px 5px #999 !important;
    border: 5px;
}
/*imagenes*/
.card-img {
    height: 40vh !important;
    object-fit: cover !important;
}

#navMenu {
    position: fixed;
    z-index: 100;
}
#contenidoSidevar {
    padding: 30px;
    background-color: #2c3e50 !important;
}

.nav-wrapper, #fondoSidevar {
    background-color: #2c3e50 !important;
}
.item-menu:hover{
    background:#70758a !important;
}
/*ir arriba*/
#ir-arriba {
    display: none;
    padding: 15px;
    background: #2c3e50;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    /*posicionar*/
    position:fixed;
    z-index:100;
    bottom:0;
    right:0;
}

/*Estilos del div de carga*/
#contenedor-carga {
    background-color: #bdc3c7;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#div-carga {
    border: 15px solid #ccc;
    border-top-color: #2c3e50;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*animacion*/
    -webkit-animation: girar 1s linear infinite;
    -o-animation: girar 1s linear infinite;
    animation: girar 1s linear infinite;
}
@keyframes girar{
    from {
        transform:rotate(0deg);
    }to{
         transform:rotate(360deg);
     }
}